.search_container {
  background-color: #223d74;
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.search_container p {
  color: #9da5d1;
}

.search_bar {
  display: flex;
  gap: 0.5rem;
}

.search_bar input,
.search_bar button {
  padding: 0.4rem;
  border-radius: 3px;
  border: none;
  color: #223d74;
  font-weight: bold;
}

.search_bar button {
  display: flex;
  align-items: center;
  background-color: #182848;
  cursor: pointer;
}
